<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <h2>Corporate Alumni vs Educational Alumni</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis diam sagittis enim dictum, sed
                scelerisque ipsum mattis. Praesent id orci sed enim lobortis vestibulum. Ut porta est in neque tincidunt
                placerat. Maecenas faucibus nulla nibh, ut rutrum justo sodales rhoncus. Nulla venenatis odio tellus,
                non accumsan dui egestas in. Vestibulum ut neque efficitur, dignissim nunc ac, aliquet dui.
            </p>

            <p>
                Duis ac magna eu sem malesuada vestibulum sit amet ac odio. Vestibulum turpis libero, porta vel nisi id,
                efficitur rhoncus dui. Praesent hendrerit hendrerit arcu, eu auctor enim vulputate at. Sed ac feugiat
                ante.
            </p>
        </div>
        <div class="footer-bottom">
            <div class="logo-footer">
                <a href="#" class="logo">
                    <img src="images/logo-footer.png" alt="logo">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->