.section-top {
    background: url(#{$path-img}/section-top-bg.png) no-repeat;
    background-size: cover;
    color: $white;
    padding: 56px 0 41px;

    @media #{$xs-max} {
        padding: 30px 0;
    }

    h1 {
        font: 700 72px $headingFont;
        text-transform: uppercase;
        letter-spacing: -.04em;
        margin-top: 0;
        margin-bottom: 13px;

        @media #{$sm-max} {
            font-size: 60px;
        }

        @media #{$xs-max} {
            font-size: 36px;
        }
    }

    p {
        margin-bottom: 25px;
        letter-spacing: -.02em;
        line-height: (24/16);

        @media #{$xs-max} {
            font-size: 13px;
        }
    }
}

.section-block {
    padding: 50px 0;
}

.blog-block-wrap {
    border-top: 1px solid $grey-alt;
    padding-top: 30px;
    padding-bottom: 93px;

    &:last-child {
        padding-bottom: 30px;
    }
}

.category-ttl {
    font: 600 36px/1 $titlefont;
    color: $grey;
    letter-spacing: -.04em;
    margin-top: 3px;
    margin-bottom: 15px;
}

.blog-block {
    background: $greyLight;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 185px;
    border: 2px solid $greyLight;

    & + & {
        margin-top: 20px;
    }

    &.active {
        background: $white;
        border: 2px solid $blue;
    }
}

.blog-block-img {
    width: 180px;
    height: 165px;
    line-height: 154px;
    text-align: center;
    border-radius: 5px;
    background: $white;
    overflow: hidden;
    margin-right: 20px;
    float: left;

    @media #{$xm-max} {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

}

.blog-block-descr {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 165px;

    @media #{$xs-max} {
        margin-left: 0;
    }

    p {
        font-size: 14px;
        line-height: (16/14);
        letter-spacing: -.02em;
        margin-top: 8px;
        margin-bottom: 9px;
        min-height: 48px;
    }
}

.blog-vendor {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $success-color;
}

.blog-block-ttl {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cecece;
    align-items: baseline;

    @media #{$xs-max} {
        display: block;
        border-bottom: none;
    }
}

.blog-block-ttl-left {

    h3 {
        margin-top: 0;
        text-transform: uppercase;
        color: $blue;
        font: 700 30px/1.43 $headingFont;
        display: inline-block;
        letter-spacing: -.04em;
        margin-right: 6px;
        margin-bottom: -1px;

        @media #{$xs-max} {
            font-size: 24px;
        }
    }

    a {
        font-size: 14px;
        margin-right: 7px;
    }
}

.blog-block-ttl-right {
    white-space: nowrap;

    .stars-wrap {
        display: inline-block;
        color: $yellow;
        font-size: 24px;
        line-height: 1.8;
        margin-bottom: -2px;
        margin-right: 3px;

        @media #{$sm-max} {
            font-size: 20px;
        }

        i {
            margin-right: -1px;
        }

        img {
            margin-right: 2px;
            vertical-align: baseline;
        }
    }

    .stars-numb {
        display: inline-block;
        color: $blue;
        font-size: 14px;
        vertical-align: text-bottom;
    }
}

.blog-block-bottom-i {

    & + & {

        @media #{$sm-max} {
            text-align: right;
        }
    }

    .btn {
        margin-bottom: 5px;
    }
}

.blog-block-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    @media #{$sm-max} {
        flex-direction: column;
        align-items: stretch;
    }
}

.bottom-tags {
    font-size: 14px;
    line-height: (16/14);
    letter-spacing: -.02em;
    margin-top: 11px;
    margin-bottom: 6px;

    @media #{$xs-max} {
        margin-top: 0;
    }
}

.btn-wrap {

    a {

        @media #{$xs-max} {
            margin-bottom: 10px;
        }
    }
}

.post-ratings-loading {
    display: none !important;
}

.post-ratings {
    color: #F10017;
    font-size: 14px;
}