.content-holder {
    
    .bottom-tags {
        color: $blue;
    }

    .blog-block-descr {
        border-bottom: 1px solid $grey-alt;
        margin-bottom: 30px;
        margin-left: auto;
    }

    .blog-block-ttl-left {
        margin-bottom: 20px;

        @media #{$md-min} {
            margin-bottom: 9px;
        }

        a {

            @media #{$md-min} {
                font-size: 18px;
            }
        }
    }

    h3 {
        font: 600 30px/1.43 $titlefont;

        @media #{$md-min} {
            font-size: 35px;
            margin-right: 11px;
        }
    }

    .blog-block-ttl {
        border-bottom: 1px solid $grey-alt;
        margin-bottom: 17px;

        @media #{$md-min} {
            margin-bottom: 21px;
        }
    }

    .btn-wrap {

        @media #{$md-min} {
            margin-bottom: 15px;
        }
    }

    .blog-block-bottom-i {

        @media #{$md-min} {
            margin-bottom: 15px;
        }

        .btn {
            margin-bottom: 5px;
        }
    }

    .blog-block-img {
        padding: 10px 0;
        line-height: 1;
        height: auto;

        img {
            max-width: 100%;
        }
    }
}

.content {
    padding: 17px 0;
    border-bottom: 1px solid $grey-alt;

    p {
        font: 14px/18px $roboto;
        letter-spacing: -.02em;
        margin-bottom: 18px;
    }

    .aligncenter {
        margin: 0 auto;
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;

        &.aligncenter {
            margin: 49px auto 52px;
            display: block;
        }
    }

    .content-btn-wrap {
        text-align: center;
        margin: 36px 0;
    }
}

.back-link-wrap {
    margin: 30px 0 78px;
}

.title-vendor {
    color: $success-color;
    font-size: 18px;
    font-family: $roboto;
    margin-bottom: 10px;
    display: block;

    @media #{$sm-min} {
        margin-top: 3px;
    }

    @media #{$md-min} {
        margin-top: 21px;
    }
}

.block-socials {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media #{$md-min} {
        margin-bottom: 19px;
    }
}

.title-list {
    color: $blue;
    font-size: 14px;
    margin-right: 10px;
}

.list-socials {
    @extend %clear-offset;
    white-space: nowrap;

    li {
        display: inline-block;
        font-size: 20px;
        margin-right: 10px;

        &:last-child {
            margin-right: 2px;
        }
    }

    .fa-twitter {
        color: $light-blue;
    }

    .fa-linkedin-square {
        color: #0077b5;
    }

    .fa-facebook-official {
        color: #3b5998;
    }

    i {
        transition: all .3s;
    }

    a {

        &:hover {

            i {
                opacity: .7;
            }
        }
    }
}