.btn {
    transition: all .3s;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 28px 3px;
}

.btn-warning-alt {
    background-color: transparent;
    border: 1px solid $orange;
    color: $white;

    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $orange;
    }
}

.btn-warning-secondary {
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;

    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $orange;
    }
}

.btn-warning {
    border: 1px solid $orange;
    background-color: $orange;

    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: transparent;
    }
}

.btn-dark {
    position: relative;
    background-position: center;
    font-family: $btn-font;
    max-width: 328px;
    border-radius: 9px;
    border: none;
    transition: all .3s;
    background-color: #131b28;
    font-size: 21px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 18px;

    @media #{$sm-min} {
        font-size: 21px;
    }

    &:hover {
        opacity: .8;
    }

    p {
        margin-bottom: 0;
    }

    strong {
        font-weight: 500;
    }
}

.btn-dark-alt {
    font-family: $btn-font-alt;
    font-size: 34px;
    padding: 7px 0 6px;
}