.footer {
    background: $greyDark;
    color: $white;
    padding: 70px 0 32px;

    @media #{$sm-max} {
        padding: 40px 0 30px;
    }
}

.footer-top {
    border-bottom: 1px solid #fff;
    opacity: .1;
    padding-bottom: 35px;
    margin-bottom: 18px;

    @media #{$sm-max} {
        padding-bottom: 10px;
    }

    h2 {
        font: 700 48px $headingFont;
        text-transform: uppercase;
        letter-spacing: -.04em;
        margin-top: 0;
        margin-bottom: 21px;

        @media #{$sm-max} {
            font-size: 30px;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -.02em;
        margin-bottom: 23px;

        @media #{$xs-max} {
            font-size: 13px;
        }
    }
}

.footer-bottom {
    padding: 29px 0 0;
}

.copyright {
    font-size: 11px;
    margin-top: 10px;
}

.footer-alt {
    background: $dark-blue;
}

.info-footer {
    padding: 20px 0 5px;
    margin-bottom: 20px;

    @media #{$md-min} {
        padding: 80px 0 50px;
    }

    .custom-row {
        @include custom-row(20px);
    }

    .item-holder {

        @media #{$sm-min} {
            display: flex;
        }
    }

    .item {
        background: #303949;
        border-radius: 4px;
        padding: 15px 15px 10px;
        color: $white;
        font-size: 13px;
        margin-bottom: 15px;
        line-height: 18px;

        @media #{$md-min} {
            padding: 36px 36px 13px;
        }
    }

    h3 {
        font-family: $titlefont;
        color: $white;
        margin-top: 0;
        font-size: 22px;
        font-weight: 600;

        @media #{$md-min} {
            margin-bottom: 22px;
            line-height: 30px;
        }
    }

    img {
        width: 100%;
        margin-bottom: 15px;
        height: 100%;

        @media #{$md-min} {
            margin-bottom: 24px;
        }
    }

    p {
        @media #{$md-min} {
            margin-bottom: 19px;
        }
    }

    ul {

        @media #{$md-min} {
            padding-top: 9px;
            padding: 9px 0 0 52px;
            margin-bottom: 28px;
        }

        li {
            font-weight: bold;
            color: $white;
            position: relative;
            list-style-type: none;

            @media #{$sm-min} {
                margin-bottom: 10px;
            }

            @media #{$md-min} {
                margin-bottom: 18px;
            }

            &:before {
                content: '';
                width: 3px;
                height: 3px;
                background: $white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translatey(-50%);
            }
        }
    }
}



.post-footer {
    margin-bottom: 20px;
    color: $white;

    @media #{$md-min} {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    img {
        margin-bottom: 13px;
    }
}

.bottom-footer {
    background: #252525;
    padding: 5px 0;
    color: #676767;
    font-size: 11px;

    p {
        margin-bottom: 0;
    }
}

.flex-row {
    
    @media #{$sm-min} {
        display: flex;
        flex-wrap: wrap;
    }

    &:before,
    &:after {
        display: none;
    }
}

.footer-new {
    text-align: center;

    .item {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media #{$sm-min} {
            margin-bottom: 0;
        }

        @media #{$md-min} {
            padding: 0 30px;
        }
    }

    .about-box {
        font-size: 14px;
        padding: 20px 0 0;

        @media #{$sm-min} {
            padding: 30px 0;
        }

        @media #{$md-min} {
            padding: 102px 0 73px;
        }
    }

    .btn-dark {
        color: $white;
        font-weight: 300;
        width: 100%;
        background-position: 0;
        position: relative;
    }

    .bottom-block {
        padding: 20px 0;
        background-color: #252525;
        text-align: center;
        color: $white;

        @media #{$md-min} {
            padding: 113px 0 47px;
        }

        .flex-row {

            @media #{$sm-min} {
                align-items: center;
            }
        }

        .text {

            @media #{$sm-min} {
                text-align: left;
            }
        }

        img {
            margin: 20px 0;

            @media #{$sm-min} {
                margin: 0;
            }
        }

        p {
            margin-bottom: 0;
        }

        .item {
            margin-bottom: 0;

            @media #{$sm-min} {
                justify-content: flex-end;
                margin-bottom: 0;
            }

            @media #{$md-min} {
                padding: 0;
            }
        }

        a {
            color: $info-color;
        }
    }
}

.info-color-text {
    color: $info-color;
}

.text-medium {
    font-weight: 500;
}