.form-control {
    margin-bottom: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid $brown;
    color: #a6a6a6;
    height: 42px;
    padding: 6px 23px 4px;
    font-size: 18px;
}