.header {
    padding: 30px 0;

    @media #{$xs-max} {
        padding: 15px 0;
    }
}

.logo {
    display: inline-block;

    img {
        max-width: 100%;
    }
}

.header-alt {
    position: relative;
    background-size: cover;
    background-position: top center;
    color: $white;
    font-size: 16px;
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 100;

    @media #{$md-min} {
        padding: 80px 0 61px;
        line-height: 22px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(24, 35, 52, .8);
    }

    .logo {
        
        @media #{$md-min} {
            margin-bottom: 49px;
        }
    }

    .container {
        position: relative;
    }

    h1 {
        font-family: $titlefont;

        @media #{$md-min} {
            font-size: 54px;
            margin-bottom: 43px;
        }
    }

    p {

        @media #{$md-min} {
            margin-bottom: 27px;
        }
    }
}

.header-secondary {

    @media #{$md-min} {
        padding-bottom: 89px;
        margin-bottom: 67px;
    }

    .logo {
        margin-bottom: 15px;
        display: block;

        @media #{$sm-min} {
            display: inline-block;
            margin-bottom: 0;
        }
    }

    .btn-warning-alt {

        @media #{$sm-min} {
            float: right;
        }

        @media #{$md-min} {
            margin-top: 6px;
        }
    }
}