html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    font: $default-font-style $default-font-weight $default-font-size/$default-line-height $default-font;
    color: $default-text-color;
    background-color: $body-bg;
    min-width: 320px;
}

.layout {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1050px;
}

.btn {
    outline: none !important;
}

.btn-sm {
    height: 25px;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    letter-spacing: -.02em;
    margin-right: 6px;
}

.btn-lg {
    font-size: 18px;
    padding: 6px 35px;
    letter-spacing: -.02em;
    font-weight: 700;
    border-radius: 3px;
}

.btn-default {
    background: $grey;
    color: $white;
    border: none;

    &:hover {
        background: darken($grey, 15%);
        color: $white;
    }
}

.btn-primary {
    background: $orange;
    color: $white;
    border: none;

    &:hover,
    &:active,
    &:focus {
        background: darken($orange, 15%);
        color: $white;
    }
}

.btn-primary-transp {
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;

    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $orange;
    }
}