.modal-dialog {
    max-width: 557px;
}

.modal-content {
    overflow: hidden;
    border-radius: 11px;

    .modal-header {
        background-color: #eee;
        color: $blue;
        text-align: center;
        font-family: $titlefont;
        padding: 11px 10px 12px;
    }

    .modal-body {
        padding: 29px 28px 10px;
    }

    .modal-footer {
        text-align: center;
        border-top: none;
        padding-top: 0;
        padding-bottom: 28px;
    }

    .btn {
        padding: 9px 75px;
    }
}

.modal-title {
    font-weight: 600;
    font-size: 27px;
}