//Path

$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$arial: Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$robotoCon: 'Roboto Condensed', sans-serif;
$titillium: 'Titillium Web', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$saira: 'Saira Extra Condensed', sans-serif;

$headingFont: $robotoCon;
$titlefont: $titillium;
$btn-font: $ubuntu;
$btn-font-alt: $saira;


//Colors
$black: #000;
$white: #fff;
$brown: #ccc;
$greyLight: #eeeeee;
$grey: #a3a3a3;
$grey-alt: #dbdbdb;
$greyDark: #1f1f1f;
$orange: #ff6600;
$yellow: #ffc000;
$blue: #0070a3;
$light-blue: #00aced;
$dark-blue: #182334;
$success-color: #1bb900;
$info-color: #82bdff;

//Default settings
$default-font: $roboto;
$default-font-size: 16px;
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $black;
$text-color-inverse: $white;

$body-bg: $white;


$md-max: 'screen and (max-width: #{$screen-lg - 1})';
$md-min: 'screen and (min-width: #{$screen-md})';
$sm-max: 'screen and (max-width: #{$screen-md - 1})';
$sm-min: 'screen and (min-width: #{$screen-sm})';
$xs-max: 'screen and (max-width: #{$screen-sm - 1})';
$xs-min: 'screen and (min-width: #{$screen-xs})';
$xm-max: 'screen and (max-width: 479px)';
$xm-min: 'screen and (min-width: 480px)';